// Oulunliikenne 2.0 pilot related style changes

.oulu-card-header-primary {
  @include font-bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $black;
}

.oulu-card-content  {
  background: $white;
  line-height: $line-height-normal;
  position: relative;
  overflow-y: visible;
  // white-space: nowrap;
  margin: 0;
  .icon {
    font-size: 1em;
    vertical-align: -1px;
  }
}

.oulu-card-detail-text {
  color: $black;
  @include font-narrow-book;
  font-size: $font-size-normal;
}

.oulu-card-content > div, .oulu-card-content > span {
    vertical-align: middle;
}

.oulu-popup-large {
  left: -21px !important;
  .route-header {
    height:auto;
    border: none;
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    width: 30rem !important;
  }
  .card {
    border: none;
    >a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr{
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-small;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-color;
    border-top: solid 1px #ddd;

    div, a {
      display: block;
      padding: 0.5em 12px;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;

      &:first-child {
        border-right: 1px solid $light-gray;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin: -5px 0px;
    left: 0px;
    .leaflet-popup-tip  {
      background: $background-color;
    }
  }
}

.oulu-popup-xlarge {
  left: -21px !important;
  .route-header {
    height:auto;
    border: none;
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    width: 32rem !important;
  }
  .card {
    border: none;
    >a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr{
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-small;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-color;
    border-top: solid 1px #ddd;

    div, a {
      display: block;
      padding: 0.5em 12px;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;

      &:first-child {
        border-right: 1px solid $light-gray;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin: -5px 0px;
    left: 0px;
    .leaflet-popup-tip  {
      background: $background-color;
    }
  }
}

.weather-popup-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  @include font-narrow-book;
  font-size: $font-size-normal;
  background: $white;
  line-height: $line-height-normal;
  position: relative;
  overflow-y: visible;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  .icon {
    font-size: 2em;
    margin: 0px;
    color: $white;
    fill: $black;
  }
  .condition-green {
    background: green;
    color: green;
    border-style: solid;
    border-width: 2px;
    border-color: $white;
    height: 100%;
  }
  .condition-red {
    background: red;
    border-style: solid;
    border-width: 2px;
    border-color: $white;
  }
  .condition-yellow {
    background: yellow;
    border-style: solid;
    border-width: 2px;
    border-color: $white;
  }

  :last-child {
    float: left !important;
    text-align: left;
  }
}

/**
    Styles for the weather forecast popup menu
*/

.weather-forecast-popup > input[type=checkbox] {
    display: none;
    padding: 0;
    margin: 0;
}

.weather-forecast-popup {
  display: inline-block;
  padding-left: 24px;

  & input[type=checkbox] {
    & ~ label {
      margin: 0px;
      padding: 0px;
    }

    &:checked ~ div {
      display: block;
    }
  }
}

.weather-forecast-popup > div {
  left: -270px;
  bottom: -50px;
  position: absolute;
  display: none;
  list-style: none;
  text-align: left;
  z-index: 1;
  margin: 0px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 2px $oulu-light-gray;
  -moz-box-shadow: 2px 2px 2px $oulu-light-gray;
  box-shadow: 2px 2px 2px $oulu-light-gray;
  background-color: $white;
  border-radius: 5px;
  color: $black;
  overflow: hidden;
  float: left;
  font-family: $font-family;
}

.weather-forecast-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 250px;
  padding: 0.4em 0 0.5em;

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    width: 100%;

    span {
      display: flex;
      @include font-bold;
      margin-left: 4px;
      font-size: $font-size-small;
      text-transform: uppercase;
      color: $black !important;
    }

    button {
      display: flex;
      float: right;
      background-color: inherit;
      margin: 0px;
      padding: 0px;

      .icon {
        margin: 0px;
        width: 0.8em;
        height: 0.8em;
      }
    }
  }

  .weather-forecast-sub-header {
    display: flex;
    margin-left: 4px;
    font-family: $font-family;
    font-size: $font-size-xxsmall;
    font-weight: 400;
  }
}

.weather-forecast-footer {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  font-size: $font-size-xxsmall;
  padding: 0.4em 0 0.5em;

  > span {
    margin-left: 4px;
    margin-right: 3px;
    color: $black !important;
  }
}
