@import '../../base/waltti';

/* main theme colors */
$primary-color: #E10069;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

$nav-logo: url('oulu20-logo.png'); /* Navbar logo */
