@import '../../base/waltti';

/* main theme colors */
// $ouluColor: #c40065;
$ouluColor: #E10069;

$primary-color: $ouluColor;

$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

//$nav-logo: url('oulu20-logo.png'); /* Navbar logo */
$nav-logo: url('/img/oulu-pilot-logo-1.png');
$nav-logo-width: 400px;
$nav-logo-height: 42px;
